streamlit>=1.36.0
python-dotenv>=1.0.1
chromadb>=0.5.5
pysqlite3-binary>=0.5.3; platform_system == "Linux"
langgraph>=0.2.20
langchain-core>=0.2.35
langchain-openai>=0.1.22
langchain-ollama>=0.1.1
pytest>=8.3.2
pyinstaller>=6.10.0
